.hero {
    &__image {
        background-image: url("../img/image-banner.png");
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 30vh;
    }

  }


  