.hero {

    &__image {
        background-image: url("../img/image-banner.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 80vh;
    }

    &__title {}
    &__sub-title {}
    &__description {}
  }


  