/* abstracts/variables */
/* Colors */
/* Font Size */
/* 50px */
/* 30px */
/* 20px */
/* 18px */
/* 16px */
/* 14px */
/* 12px */
/* Font Family */
/* Font weight */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base/typography */
body {
  font-family: "Old Standard TT", serif;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Old Standard TT", serif;
  font-size: 3.125em;
  font-weight: 700;
}

h2 {
  font-family: "Old Standard TT", serif;
  font-size: 1.875em;
  font-weight: 700;
}

h3 {
  font-family: "Old Standard TT", serif;
  font-size: 1.25em;
  font-weight: 700;
  padding: 5px;
}

label {
  font-family: "Old Standard TT", serif;
  font-size: 0.75em;
  font-weight: 700;
  padding: 5px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
}

/* layout/breakpoint-master-dont-modify */
/* For breakpoint control */
/* Portable */
/* 1. Define breakpoint variables. Sizes obtained from Bootstrap 4.6 */
/* 2. Responsive breakpoint manager */
/* End of responsive breakpoint manager */
/* 3. Sample. How to use it: This is a BEM approach (Block Element Modifier based approach) */
/* body {
  @include screen-size('x-large') {
      font-family: Arial, Helvetica, sans-serif;
  }
}
 */
/* layout/column-master-dont-modify */
/* Use: column for responsive */
/* Semi-Portable; Dependency: layout/_breakpoint-master-dont-modify */
.f-col-auto {
  flex-basis: auto;
}

.f-col-12 {
  flex-basis: 100%;
}

.f-col-11 {
  flex-basis: 91.66666667%;
}

.f-col-10 {
  flex-basis: 83.33333333%;
}

.f-col-9 {
  flex-basis: 75%;
}

.f-col-8 {
  flex-basis: 66.66666667%;
}

.f-col-7 {
  flex-basis: 58.33333333%;
}

.f-col-6 {
  flex-basis: 50%;
}

.f-col-5 {
  flex-basis: 41.66666667%;
}

.f-col-4 {
  flex-basis: 33.33333333%;
}

.f-col-3 {
  flex-basis: 25%;
}

.f-col-2 {
  flex-basis: 16.66666667%;
}

.f-col-1 {
  flex-basis: 8.33333333%;
}

@media (min-width: 1400px) {
  .f-col-xx-lg-12 {
    flex-basis: 100%;
  }

  .f-col-xx-lg-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-xx-lg-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-xx-lg-9 {
    flex-basis: 75%;
  }

  .f-col-xx-lg-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-xx-lg-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-xx-lg-6 {
    flex-basis: 50%;
  }

  .f-col-xx-lg-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-xx-lg-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-xx-lg-3 {
    flex-basis: 25%;
  }

  .f-col-xx-lg-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-xx-lg-1 {
    flex-basis: 8.33333333%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .f-col-x-lg-12 {
    flex-basis: 100%;
  }

  .f-col-x-lg-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-x-lg-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-x-lg-9 {
    flex-basis: 75%;
  }

  .f-col-x-lg-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-x-lg-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-x-lg-6 {
    flex-basis: 50%;
  }

  .f-col-x-lg-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-x-lg-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-x-lg-3 {
    flex-basis: 25%;
  }

  .f-col-x-lg-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-x-lg-1 {
    flex-basis: 8.33333333%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .f-col-lg-12 {
    flex-basis: 100%;
  }

  .f-col-lg-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-lg-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-lg-9 {
    flex-basis: 75%;
  }

  .f-col-lg-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-lg-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-lg-6 {
    flex-basis: 50%;
  }

  .f-col-lg-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-lg-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-lg-3 {
    flex-basis: 25%;
  }

  .f-col-lg-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-lg-1 {
    flex-basis: 8.33333333%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .f-col-md-12 {
    flex-basis: 100%;
  }

  .f-col-md-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-md-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-md-9 {
    flex-basis: 75%;
  }

  .f-col-md-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-md-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-md-6 {
    flex-basis: 50%;
  }

  .f-col-md-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-md-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-md-3 {
    flex-basis: 25%;
  }

  .f-col-md-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-md-1 {
    flex-basis: 8.33333333%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .f-col-sm-12 {
    flex-basis: 100%;
  }

  .f-col-sm-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-sm-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-sm-9 {
    flex-basis: 75%;
  }

  .f-col-sm-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-sm-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-sm-6 {
    flex-basis: 50%;
  }

  .f-col-sm-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-sm-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-sm-3 {
    flex-basis: 25%;
  }

  .f-col-sm-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-sm-1 {
    flex-basis: 8.33333333%;
  }
}
@media (max-width: 575.98px) {
  .f-col-x-sm-12 {
    flex-basis: 100%;
  }

  .f-col-x-sm-11 {
    flex-basis: 91.66666667%;
  }

  .f-col-x-sm-10 {
    flex-basis: 83.33333333%;
  }

  .f-col-x-sm-9 {
    flex-basis: 75%;
  }

  .f-col-x-sm-8 {
    flex-basis: 66.66666667%;
  }

  .f-col-x-sm-7 {
    flex-basis: 58.33333333%;
  }

  .f-col-x-sm-6 {
    flex-basis: 50%;
  }

  .f-col-x-sm-5 {
    flex-basis: 41.66666667%;
  }

  .f-col-x-sm-4 {
    flex-basis: 33.33333333%;
  }

  .f-col-x-sm-3 {
    flex-basis: 25%;
  }

  .f-col-x-sm-2 {
    flex-basis: 16.66666667%;
  }

  .f-col-x-sm-1 {
    flex-basis: 8.33333333%;
  }
}
/* layout/layout-global-level-responsive-design */
/* Use: layout global definitions */
/* Semi-Portable; Dependency: layout/_breakpoint-master-dont-modify */
/* Parent Child Level Diagram
|.container
|--|nav-box
|--|--|header-box
|--|--|main-box
|--|--|article-box
|--|--|section-box
|--|--|aside-box
|--|--|.row-box
|--|--|--|.col (can be child of header, main, article, section, aside, .row)
|--|footer-box (child of .container)
*/
.author-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0 0 0;
  width: 90%;
  margin: auto;
}
.author-box__description {
  display: flex;
  flex-direction: row;
}
.author-box__circle-img {
  border-radius: 50%;
  object-fit: cover;
  width: 95px;
  height: 95px;
}
@media (max-width: 1199.98px) {
  .author-box__circle-img {
    width: 95px;
    height: 95px;
  }
}
@media (max-width: 991.98px) {
  .author-box__circle-img {
    width: 95px;
    height: 95px;
  }
}
@media (max-width: 767.98px) {
  .author-box__circle-img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 575.98px) {
  .author-box__circle-img {
    width: 60px;
    height: 60px;
  }
}
.author-box__username {
  color: red;
  align-self: center;
  margin: 0 0 0 20px;
}
.author-box__username--bold {
  font-size: 1.125em;
  color: #0c0910;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .author-box__username--bold {
    font-size: 1em;
  }
}
.author-box__username--light {
  font-size: 1em;
  color: #646266;
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .author-box__username--light {
    font-size: 0.875em;
  }
}
.author-box__interaction {
  align-self: center;
}

.video-box {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  direction: row;
  gap: 1em 1em;
  justify-content: space-around;
}
@media (min-width: 1400px) {
  .video-box {
    justify-content: flex-start;
    color: red;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .video-box {
    justify-content: flex-start;
    color: red;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .video-box {
    justify-content: flex-start;
    color: red;
  }
}
.video-box__card {
  width: 250px;
  height: 250px;
}
.video-box__card img {
  max-width: 100%;
  height: auto;
}

.my-button {
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 32px;
  margin: 0 10px;
  font-size: 1em;
}
@media (max-width: 1199.98px) {
  .my-button {
    padding: 9px 24px;
    margin: 0 8px;
    font-size: 1em;
  }
}
@media (max-width: 991.98px) {
  .my-button {
    padding: 9px 24px;
    margin: 0 6px;
    font-size: 1em;
  }
}
@media (max-width: 767.98px) {
  .my-button {
    padding: 7px 20px;
    margin: 0 4px;
    font-size: 0.8em;
  }
}
@media (max-width: 575.98px) {
  .my-button {
    padding: 5px 16px;
    margin: 0 2px;
    font-size: 0.8em;
  }
}
.my-button--red {
  background-color: tomato;
}
.my-button--blue {
  background-color: #82b4ff;
}

/* component/collapsable-menu-css-only */
/* Use: Burguer Icon without JS */
/* Portable */
.f-nav-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.f-nav-box__brand-logo {
  width: auto;
  height: 5em;
  padding: 10px 0;
  width: 200px;
  height: auto;
}
@media (max-width: 1199.98px) {
  .f-nav-box__brand-logo {
    width: 180px;
    height: auto;
  }
}
@media (max-width: 991.98px) {
  .f-nav-box__brand-logo {
    width: 160px;
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .f-nav-box__brand-logo {
    width: 140px;
    height: auto;
  }
}
@media (max-width: 575.98px) {
  .f-nav-box__brand-logo {
    width: 120px;
    height: auto;
  }
}
.f-nav-box__menu {
  align-self: center;
}
@media (max-width: 991.98px) {
  .f-nav-box__menu {
    align-self: stretch;
    padding: 20px 0;
  }
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked ~ .collapse {
  height: 250px;
}

.collapse {
  text-align: right;
  color: #646266;
}
@media (max-width: 991.98px) {
  .collapse__menu-content {
    text-align: center;
  }
}
@media (max-width: 991.98px) and (max-width: 575.98px) {
  .collapse__menu-content {
    text-align: left;
  }
}
.collapse__menu-content a {
  text-decoration: none;
  color: #0c0910;
  font-family: "Roboto", sans-serif;
  margin-left: 1em;
}
.collapse .link-text {
  font-size: 1.875em;
  background-color: yellow;
}
@media (max-width: 991.98px) {
  .collapse {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 170px;
    height: 2.8em;
    /* Needs to match Icon Font-Size */
    overflow: hidden;
    cursor: pointer;
  }
}
@media (max-width: 991.98px) and (max-width: 575.98px) {
  .collapse {
    width: 80px;
  }
}
@media (max-width: 991.98px) {
  .collapse__menu-icon:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
    font-weight: 900;
    /* This needs to be 900 for the icon to display */
    font-size: 2.5em;
    /* Icon Font-Size to match */
  }
}
@media (max-width: 991.98px) {
  .collapse__menu-content a {
    line-height: 3em;
  }
}
@media (min-width: 992px) {
  .collapse__menu-content > li {
    display: inline;
  }
}

.footer-box {
  text-align: center;
}

.hero__image {
  background-image: url("../img/image-banner.png");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 200px;
}
@media (max-width: 1199.98px) {
  .hero__image {
    height: 180px;
  }
}
@media (max-width: 991.98px) {
  .hero__image {
    height: 155px;
  }
}
@media (max-width: 767.98px) {
  .hero__image {
    height: 130px;
  }
}
@media (max-width: 575.98px) {
  .hero__image {
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
