/* layout/layout-global-level-responsive-design */
/* Use: layout global definitions */
/* Semi-Portable; Dependency: layout/_breakpoint-master-dont-modify */

/* Parent Child Level Diagram
|.container
|--|nav-box
|--|--|header-box
|--|--|main-box
|--|--|article-box
|--|--|section-box
|--|--|aside-box
|--|--|.row-box
|--|--|--|.col (can be child of header, main, article, section, aside, .row)
|--|footer-box (child of .container)
*/

.author-box {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    @media (max-width: 767.98px) {
        width: 100%;   }
    margin: auto;

    &__description {
    }

    &__circle-img {    
            width: 130px;
            height: 130px;
        @media (max-width: 1199.98px) {
            width: 115px;
            height: 115px;
        }
        @media (max-width: 991.98px) {
            width: 95px;
            height: 95px;
        }
        @media (max-width: 767.98px) {
            width: 75px;
            height: 75px;  
        }
        @media (max-width: 575.98px) {
            width: 60px;
            height: 60px;  
        }

        border-radius: 50%;
        object-fit: cover; //needed for rectangular images}
        }
    &__interaction {
    }

}

.video-box {
    display: flex;
    flex-wrap: wrap;

    
    width: 90%;
    @media (max-width: 767.98px) {
        width: 100%;   }
    margin: auto;

    &__card{
        width: 25%;
        height: 40vh;
    }

    &__card  img{
        max-width: 100%; //make img responsive
        height: auto; //make img responsive
        }
}



